*{

    box-sizing: border-box;


}

body{
display:flex;
justify-content: center;
align-items: center;
flex-direction: column;

}
.squareSize{

width: 100px;
height: 100px;


}

.content{
display: flex;
flex-wrap: wrap;
background-color: green;
width:800px;
height:100vh;
margin: 0px;




}

.grid-div{
margin: 0px;
padding: 0px;
background-color: cyan;
border: 2px solid black;
width: 100px;
height:100px;
cursor: pointer;


}

.grid-div.hovered{

background-color: black;

}